* {
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #202020;
}

.content {
  position: relative;
}

.content::after {
  content: '';
  position: absolute;
  left: calc(50% - 3px);
  bottom: -55px;
  height: 60px;
  width: 6px;
  background: #f07f63;
  border-radius: 10px;
  background: linear-gradient(to bottom, #f07f63, transparent 80%);
  filter: blur(1px);
}

img {
  height: 50px;
  animation: launch 0.1s infinite alternate;
}

@keyframes launch {
  from {
    margin-top: 0px;
  }

  to {
    margin-top: 4px;
  }
}