* {
    padding: 0px;
    margin: 0px;
}

.container {
    background-color: #000;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    transition: 0.5s;

}

.open {
    background-color: #999;

}

.switch {
    position: relative;
    display: inline-block;
    height: 40px;
    width: 75px;
    margin: 0px auto;
}

.switch input {
    opacity: 0;
}

span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #202020;
    transition: 0.5s;
    border-radius: 30px;
}

span:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 50%;
    left: 10%;
    top: 5px;
    box-shadow: inset 8px -4px 0px 0px #ffd500;
    background: #202020;
    transition: 0.5s;
}

input:checked+span {
    background-color: #202020;
}

input:checked+span:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #ffd500;
}