* {
  padding: 0px;
  margin: 0px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #202020;
  height: 100vh;
}

.card {
  position: relative;
  height: 300px;
  width: 250px;
  background: #202020;
  border-radius: 4px;
  box-shadow: 0px 0px 10px 1px #000;
  overflow: hidden;
}

.card::before {
  position: absolute;
  top: -100px;
  content: '';
  width: 250px;
  height: 160%;
  background: linear-gradient(90deg, transparent,
      #ff1e00, transparent);
  animation: rotation 5000ms infinite linear;
}

.card-content {
  position: absolute;
  top: 0.5%;
  left: 0.5%;
  width: 99%;
  height: 99%;
  background-color: #151515;
  border-radius: 5px;
  color: white;
}

@keyframes rotation {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}